.homeHeaderContainer {
  padding: 0 10%;
  .header {
    position: relative;
    margin-top: 10px;
    height: 50px;
    .logo {
      display: inline-block;
      margin-top: 10px;
      height: 30px;
      width: 150px;
      background: url("../images/logo.png") no-repeat center center;
      background-size: cover;
    }
    .headerRight {
      cursor: pointer;
      position: absolute;
      right: 0px;
      display: inline-block;
      height: 50px;
      .rightLogin {
        display: inline-block;
        width: 50px;
        height: 20px;
        line-height: 20px;
        border-right: 1px solid #b3b3b3;
        margin-right: 10px;
        color: #3498db;
      }
      .rightEnter:hover {
        color: #3498db;
      }
      .rightEnter {
        display: inline-block;
        height: 50px;
        line-height: 50px;
      }
      .rightLoginImg:hover {
        //box-shadow: 1px 1px 2px #3498db
        background:#ccc ;
      }
      .rightLoginImg {
        display: none;
        width: 48px;
        height: 48px;
        line-height: 50px;
        text-align: center;
        border-radius: 50%;
        img {
          margin-top: 1px;
          display: inline-block;
          width: 46px;
          height: 46px;
          border-radius: 50%;
        }
      }
      .rightEnterName:hover {
        color: #3498db;
      }
      .rightEnterName {
        display: none;
        height: 50px;
        line-height: 50px;
        vertical-align: top;
      }
    }
  }
}

.homeContainer {
  padding: 0 10% 20px 10%;
  background: #ebeef3;
  .advertisingGroups {
    padding-top: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-bottom: 20px;
    a {
      display: inline-block;
      width: 24%;
      height: 150px;
      border-radius: 7px;
    }
    .advertising1 {
      background: url("../images/eos.jpg") no-repeat center;
      background-size: cover;
    }
    .advertising2 {
      background: url("../images/asch.png") no-repeat center;
      background-size: cover;
    }
    .advertising3 {
      background: url("../images/cctime.jpg") no-repeat center;
      background-size: cover;
    }
    .advertising4 {
      background: url("../images/aschOneYear.jpg") no-repeat center;
      background-size: cover;
    }
  }
  .centerContainer {
    margin-bottom: 20px;
    position: relative;
    .homeContainerLeft {
      width: 68%;
      .newsTrends {
        margin-bottom: 20px;
        .newsTop {
          position: relative;
          height: 50px;
          line-height: 50px;
          background: #ccc;
          padding-left: 20px;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
          .newsDynamic {
            display: inline-block;
          }
          .newsMore {
            position: absolute;
            right: 10px;
            top: 0;
            span {
              display: inline-block;
            }
            i {
              display: inline-block;
              width: 10px;
              height: 9px;
              background: url(../images/arrowMore.png) no-repeat center center;
              background-size: cover;
              vertical-align: baseline;
            }
          }
        }
        .newsContainer {
          background: #fff;
          padding: 20px;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          .newsContainerLeft {
            width: 50%;
            ul {
              li {
                width: 100%;
                max-width: 400px;
                a.newsLeftImage {
                  display: block;
                  width: 100%;
                  height: 200px;
                  background: url(../images/img1.png) no-repeat center center;
                  background-size: cover;
                }
                a.newsLeftTitle:hover {
                  color: lightskyblue;
                }
                a.newsLeftTitle {
                  display: block;
                  font-weight: 600;
                  margin: 10px 0;
                  font-size: 14px;
                }
                span.newsCenter {
                  font-size: 13px;
                }
                .newsLeftTime {
                  position: relative;
                  margin-top: 10px;
                  i.newsTimeIcon {
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    background: url("../images/time.png") no-repeat center center;
                    background-size: cover;
                  }
                  span {
                    color: #b3b3b3;
                  }
                  i.newsReward {
                    display: inline-block;
                    position: absolute;
                    top: 6px;
                    right: 10px;
                    width: 14px;
                    height: 14px;
                    background: url(../images/wallet.png) no-repeat center center;
                    background-size: cover;
                  }
                }
              }
            }
          }
          .newsContainerRight {
            width: 50%;
            ul {
              li {
                position: relative;
                margin-left: 10px;
                margin-bottom: 12px;
                width: 100%;
                a.newsRightImg {
                  max-width: 130px;
                  display: inline-block;
                  width: 40%;
                  height: 70px;
                  background: url(../images/img2.png) no-repeat center center;
                  background-size: cover;
                }
                a.newsRightTitle {
                  width: 60%;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  position: absolute;
                  top: 5px;
                  font-weight: 600;
                  font-size: 14px;
                  margin-left: 10px;
                }
                .newsRightTime {
                  width: 57%;
                  display: inline-block;
                  position: absolute;
                  bottom: 5px;
                  height: 30px;
                  line-height: 30px;
                  margin-left: 10px;
                  color: #ccc;
                  border-bottom: 1px solid #ccc;
                  .newsTimeIcon {
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    background: url("../images/time.png") no-repeat center center;
                    background-size: cover;
                  }
                  span {

                  }
                  .newsReward {
                    top: 8px;
                    position: absolute;
                    right: 0;
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    background: url(../images/wallet.png) no-repeat center center;
                    background-size: cover;
                  }
                }
              }
            }
          }
        }
      }
      .aboutOur {
        background: #ccc;
        border-radius: 5px;
        .aboutOurTitle {
          height: 50px;
          line-height: 50px;
          padding-left: 10px;
          a:hover {
            color: #3498db;
            cursor: pointer;
          }
          a:nth-child(5) {
            color: #3498db;
          }
          a {
            display: inline-block;
            //width: 15%;
            height: 50px;
            font-weight: 600;
            line-height: 50px;
            text-align: center;
            font-size: 16px;

          }
          i {
            display: inline-block;
            width: 2px;
            height: 15px;
            background: url("../images/boundary.png") no-repeat center center;
            background-size: cover;
            vertical-align: middle;
            margin: 0 5px;
          }
        }
        ul.articleContainer {
          padding: 20px;
          background: #fff;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          li:nth-child(4) {
            border-bottom: none;
          }
          li {
            position: relative;
            margin-bottom: 30px;
            height: 150px;
            border-bottom: 1px solid #ccc;
            .articleLeft {
              width: 30%;
              height: 120px;
              background: url("../images/img2.png") no-repeat center center;
              background-size: cover;
            }
            .articleRight {
              width: 70%;
              position: absolute;
              top: 0;
              right: -10px;
              height: 120px;
              .articleTitle {
                font-weight: 600;
                display: block;
                font-size: 16px;
                margin-bottom: 10px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
              .articleCenter {
                display: block;
                margin: 5px 0;
                font-size: 14px;
              }
              .articleFooter {
                position: absolute;
                width: 100%;
                display: block;
                bottom: 5px;
                left: 0;
                i {
                  display: inline-block;
                  width: 12px;
                  height: 12px;
                }
                i.articleTimeIcon {
                  background: url(../images/time.png) no-repeat center center;
                  background-size: cover;
                }
                i.articleFromIcon {
                  background: url(../images/articleFromIcon.png) no-repeat center center;
                  background-size: cover;
                }
                i.articleBrowseIcon {
                  width: 17px;
                  height: 13px;
                  background: url(../images/articleBrowseIcon.png) no-repeat center center;
                  background-size: cover;
                }
                span {
                  display: inline-block;
                  margin-right: 30px;
                }
                a.giveReward {
                  display: inline-block;
                  position: absolute;
                  top: 4px;
                  right: 10px;
                  width: 14px;
                  height: 14px;
                  background: url(../images/wallet.png) no-repeat center center;
                  background-size: cover;
                }
              }
            }

          }
          .aboutOurPages {
            width: 100%;
            height: 50px;
            text-align: center;
            span {
              display: inline-block;
              min-width: 20px;
              height: 20px;
              line-height: 20px;
              text-align: center;
              border: 1px solid #ccc;
              margin-right: 10px;
              cursor: pointer;
              font-size: 12px;
            }
          }
        }
      }
    }
    .homeContainerRight {
      position: absolute;
      width: 30%;
      right: 0;
      top: 0;
      .exchange {
        width: 100%;
        margin-bottom: 20px;
        .exchangeTitle {
          height: 50px;
          line-height: 50px;
          text-align: center;
          background: #ccc;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
          span {
            display: inline-block;
            width: 25%;
          }
        }
        ul {
          background: #fff;
          padding: 10px;
          font-size: 12px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          li {
            height: 40px;
            line-height: 40px;
            text-align: center;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            margin-bottom: 5px;
            span {
              width: 25%;
              display: inline-block;
              i {
                display: inline-block;
                margin-right: 10px;
                width: 24px;
                height: 14px;
                vertical-align: middle;
              }
              i.btcIcon {
                background: url("../images/btcIcon.png") no-repeat center center;
                background-size: cover;
              }
              i.ytfIcon {
                background: url("../images/ytfIcon.png") no-repeat center center;
                background-size: cover;
              }
            }
          }
          li:last-child {
            display: inline;
            .exchangeMore {
              margin: 6px 0 6px 5%;
              height: 40px;
              line-height: 40px;
              width: 90%;
              //margin-left: 5%;
              border: 1px solid #3498db;
              border-radius: 4px;
              .exchangeMoreText {
                display: inline-block;
                color: #3498db;
              }
              .exchangeMoreIcon {
                display: inline-block;
                height: 9px;
                width: 11px;
                background: url(../images/arrowMore.png) no-repeat center center;
                background-size: cover;
                margin-left: -10px;
              }
            }
          }
        }
      }
      .advertisingGroupsRightFirst {
        width: 100%;
        margin-bottom: 20px;
        a {
          display: block;
          width: 100%;
          height: 100px;
          margin-bottom: 10px;
          border-radius: 5px;
        }
        .advertisingRightImg1 {
          background: url("../images/advertisingRightImg.png") no-repeat center center;
          background-size: cover;
        }
        .advertisingRightImg2 {
          background: url("../images/advertisingRightImg.png") no-repeat center center;
          background-size: cover;
        }
      }
      .optimizeProjects {
        width: 100%;
        //height: 500px;
        border-radius: 5px;
        background: #fff;
        margin-bottom: 20px;
        .optimizeProjectTitle {
          height: 40px;
          line-height: 40px;
          background: #ccc;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          padding: 0 10px;
          span {
            display: inline-block;
          }
          .optimizeProjectTitleLeft {
            font-weight: 600;
            font-size: 15px;
          }
          .optimizeProjectTitleMore {
            float: right;
            font-size: 13px;
            color: #3498db;
            i {
              display: inline-block;
              width: 11px;
              height: 9px;
              background: url("../images/arrowMore.png") no-repeat center center;
              background-size: cover;
            }
          }
        }
        ul {
          padding: 35px 15px 15px 15px;
          li:last-child{
            border-bottom: none;
            margin-bottom: 0px;
          }
          li {
            display: -webkit-flex;
            display: flex;
            height: 90px;
            border-bottom: 1px solid #ccc;
            margin-bottom: 20px;
            a.optimizeProject {
              height: 70px;
              display: inline-block;
              width: 35%;
              margin-right: 10px;
              background: url(../images/img2.png) no-repeat center center;
              background-size: cover;
            }
            .optimizeProjectRight {
              display: inline-block;
              width: 60%;
              .optimizeProjectTime {
                font-size: 12px;
                height: 20px;
                a.optimizeProjectTimeLeft {
                  display: inline-block;
                  font-weight: 600;
                }
                span {
                  display: inline-block;
                  float: right;
                }
              }
              p.optimizeProjectTimeBottom {
                height: 50px;
                overflow: hidden;
                font-size: 12px;
              }
            }
          }
        }
      }
      .advertisingGroupsRightTwo {
        width: 100%;
        margin-bottom: 20px;
        a {
          display: block;
          width: 100%;
          height: 100px;
          margin-bottom: 10px;
          border-radius: 5px;
        }
        .advertisingRightImg3 {
          background: url("../images/advertisingRightImg.png") no-repeat center center;
          background-size: cover;
        }
        .advertisingRightImg4 {
          background: url("../images/advertisingRightImg.png") no-repeat center center;
          background-size: cover;
        }
      }
    }
  }
  .allLists {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 20px;
    .newsList {
      width: 32%;
      border-radius: 5px;
      background: #fff;
      .newsListTitle {
        height: 40px;
        line-height: 40px;
        padding-left: 20px;
        background: #3498db;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        i {
          display: inline-block;
          width: 14px;
          height: 14px;
          background: url("../images/newsIcon.png") no-repeat center center;
          background-size: cover;
          margin-right: 3px;
        }
        span {
          display: inline-block;
          vertical-align: top;
          font-size: 14px;
        }
      }
      ul {
        padding: 5px 20px;
        li:nth-child(1) {
          span {
            font-weight: 600;
          }
          i {
            background: url("../images/hot.png") no-repeat center center;
            background-size: cover;
          }
        }
        li:nth-child(2) {
          span {
            font-weight: 600;
          }
          i {
            background: url("../images/hot.png") no-repeat center center;
            background-size: cover;
          }
        }
        li:nth-child(3) {
          span {
            font-weight: 600;
          }
          i {
            background: url("../images/hot.png") no-repeat center center;
            background-size: cover;
          }
        }
        li:last-child {
          border-bottom: none;
        }
        li:hover {
          a {
            color: #3498db;
          }
        }
        li {
          position: relative;
          border-bottom: 1px solid #ccc;
          height: 50px;
          line-height: 50px;
          margin-bottom: 10px;
          span {
            color: #ff6000;
            display: inline-block;
            width: 18px;
          }
          a {
            display: inline-block;
            width: 80%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            vertical-align: top;
            font-size: 14px;
          }
          i {
            position: absolute;
            display: inline-block;
            width: 14px;
            height: 14px;
            right: 0;
            top: 18px;
            background: url("../images/new.png") no-repeat center center;
            background-size: cover;
          }
        }
      }
    }
    .rewardList {
      width: 32%;
      border-radius: 5px;
      background: #fff;
      .rewardListTitle {
        height: 40px;
        line-height: 40px;
        padding-left: 20px;
        font-size: 14px;
        background: #e74c3c;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: #fff;
        padding-right: 20px;
        .rewardListTitleLeft {
          display: inline-block;
          i {
            display: inline-block;
            width: 14px;
            height: 14px;
            background: url("../images/reward.png") no-repeat center center;
            background-size: cover;
          }
          span {
            display: inline-block;
          }
        }
        .rewardListTitleRight {
          display: inline-block;
          height: 100%;
          float: right;
          color: #ccc;
          .rewardDay:hover {
            color: #fff;
          }
          .rewardDay {
            display: inline-block;
            cursor: pointer;
          }
          .rewardWeek:hover {
            color: #fff;
          }
          .rewardWeek {
            display: inline-block;
            cursor: pointer;
          }
          .rewardMonth:hover {
            color: #fff;
          }
          .rewardMonth {
            display: inline-block;
            cursor: pointer;
          }
          i {
            display: inline-block;
            border-right: 1px solid #ccc;
            height: 30%;
            margin: 0 5px;
          }
        }

      }
      ul.rewardDayContainer {
        padding: 5px 20px;
        li:nth-child(1) {
          span {
            width: 14px;
            height: 14px;
            background: url("../images/goldenCup.png") no-repeat center center;
            background-size: cover;
          }
          i {
          }
        }
        li:nth-child(2) {
          span {
            width: 14px;
            height: 14px;
            background: url("../images/silverCup.png") no-repeat center center;
            background-size: cover;
          }
          i {
          }
        }
        li:nth-child(3) {
          span {
            width: 14px;
            height: 14px;
            background: url("../images/copperCup.png") no-repeat center center;
            background-size: cover;
          }
          i {
          }
        }
        li:last-child {
          border-bottom: none;
        }
        li:hover {
          a {
            color: #ff6000;
          }
          i {
            color: #ff6000;
          }
        }
        li {
          position: relative;
          border-bottom: 1px solid #ccc;
          height: 50px;
          line-height: 50px;
          margin-bottom: 10px;
          span {
            width: 18px;
            color: #ff6000;
            display: inline-block;
          }
          a {
            display: inline-block;
            width: 80%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            vertical-align: top;
            font-size: 14px;
          }
          i {
            position: absolute;
            display: inline-block;
            right: 0;
            font-size: 12px;
          }
        }
      }
    }
    .browseList {
      width: 32%;
      border-radius: 5px;
      background: #fff;
      .browseListTitle {
        height: 40px;
        line-height: 40px;
        padding-left: 20px;
        font-size: 14px;
        background: #f1c40f;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: #fff;
        padding-right: 20px;
        .browseListTitleLeft {
          display: inline-block;
          i {
            display: inline-block;
            width: 23px;
            height: 14px;
            background: url("../images/browseListIcon.png") no-repeat center center;
            background-size: cover;
          }
          span {
            display: inline-block;
          }
        }
        .browseListTitleRight {
          display: inline-block;
          height: 100%;
          float: right;
          color: #ccc;
          .browseDay:hover {
            color: #fff;
          }
          .browseDay {
            display: inline-block;
            cursor: pointer;
          }
          .browseWeek:hover {
            color: #fff;
          }
          .browseWeek {
            display: inline-block;
            cursor: pointer;
          }
          .browseMonth:hover {
            color: #fff;
          }
          .browseMonth {
            display: inline-block;
            cursor: pointer;
          }
          i {
            display: inline-block;
            border-right: 1px solid #ccc;
            height: 30%;
            margin: 0 5px;
          }
        }
      }
      ul.browseDayContainer {
        padding: 5px 20px;
        li:nth-child(1) {
          span {
            width: 13px;
            height: 16px;
            background: url("../images/goldMedal.png") no-repeat center center;
            background-size: cover;
          }
          i {
          }
        }
        li:nth-child(2) {
          span {
            width: 13px;
            height: 16px;
            background: url("../images/silverMedal .png") no-repeat center center;
            background-size: cover;
          }
          i {
          }
        }
        li:nth-child(3) {
          span {
            width: 13px;
            height: 16px;
            background: url("../images/copperMedal.png") no-repeat center center;
            background-size: cover;
          }
          i {
          }
        }
        li:last-child {
          border-bottom: none;
        }
        li:hover {
          a {
            color: #f1c40f;
          }
          i {
            color: #f1c40f;
          }
        }
        li {
          position: relative;
          border-bottom: 1px solid #ccc;
          height: 50px;
          line-height: 50px;
          margin-bottom: 10px;
          span {
            width: 18px;
            color: #ff6000;
            display: inline-block;
          }
          a {
            display: inline-block;
            width: 80%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            vertical-align: top;
            font-size: 14px;
          }
          i {
            position: absolute;
            display: inline-block;
            right: 0;
            font-size: 12px;
          }
        }
      }
    }
  }
  .writersList {
    margin-bottom: 50px;
    position: relative;
    .writersListTitle {
      height: 40px;
      line-height: 40px;
      background: #ccc;
      padding-left: 20px;
      font-weight: 600;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      a.goToColumnist:hover {
        color: lightskyblue;
      }
    }
    ul {
      padding: 20px 40px 80px 40px;
      width: 100%;
      background: #fff;
      box-sizing: border-box;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      li {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .writer:hover {
          a {
            background: lightskyblue;
          }
          p {
            color: lightskyblue;
          }
        }
        .writer {
          display: inline-block;
          width: 150px;
          a {
            position: relative;
            display: block;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            text-align: center;
            background: #ccc;
            margin-left: 15px;
            span {
              position: absolute;
              top: 5px;
              left: 5px;
              display: block;
              width: 100px;
              height: 100px;
              border-radius: 50%;
              background: url(../images/liudehua.jpg) no-repeat center center;
              background-size: cover;
            }
          }
          p {
            width: 100%;
            text-align: center;
            margin-top: 20px;
          }
        }
      }
    }
    .writersDot {
      position: absolute;
      width: 100%;
      display: block;
      text-align: center;
      z-index: 999;
      bottom: 30px;
      span:hover {
        width: 12px;
        height: 12px;
        cursor: pointer;
        background: url("../images/dot.png") no-repeat center center;
        background-size: cover;
      }
      span {
        width: 12px;
        height: 12px;
        background: #ccc;
        border-radius: 50%;
        display: inline-block;
        margin-right: 3px;
      }
    }
  }
}
