
.mentionHeaderContainer {
  padding: 0 10%;
  .header {
    position: relative;
    margin-top: 10px;
    height: 50px;
    .logo {
      display: inline-block;
      margin-top: 10px;
      height: 30px;
      width: 150px;
      background: url("../images/logo.png") no-repeat center center;
      background-size: cover;
    }
    .headerRight {
      cursor: pointer;
      position: absolute;
      right: 0px;
      display: inline-block;
      height: 50px;
      .rightLogin {
        display: inline-block;
        width: 80px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border-right: 1px solid #b3b3b3;
        margin-right: 5px;
        color: #3498db;
      }
      .rightEnter:hover {
        color: #3498db;
      }
      .rightEnter {
        display: inline-block;
        height: 50px;
        width: 70px;
        line-height: 50px;
      }
    }
  }
}
.mentionMoneyContainer{
  background: #f6f6f6;
  height: 500px;
}