.webHeaderContainer {
  padding: 0 10%;
  .header {
    position: relative;
    margin-top: 10px;
    height: 50px;
    .logo {
      display: inline-block;
      margin-top: 10px;
      height: 30px;
      width: 150px;
      background: url("../images/logo.png") no-repeat center center;
      background-size: cover;
    }
    .headerRight {
      cursor: pointer;
      position: absolute;
      right: 0px;
      display: inline-block;
      height: 50px;
      .rightLogin {
        display: inline-block;
        width: 50px;
        height: 20px;
        line-height: 20px;
        border-right: 1px solid #b3b3b3;
        margin-right: 10px;
        color: #3498db;
      }
      .rightEnter:hover {
        color: #3498db;
      }
      .rightEnter {
        display: inline-block;
        height: 50px;
        line-height: 50px;
      }
      .rightLoginImg:hover {
        //box-shadow: 1px 1px 2px #3498db
        background: #ccc;
      }
      .rightLoginImg {
        display: none;
        width: 48px;
        height: 48px;
        line-height: 50px;
        text-align: center;
        border-radius: 50%;
        img {
          margin-top: 1px;
          display: inline-block;
          width: 46px;
          height: 46px;
          border-radius: 50%;
        }
      }
      .rightEnterName:hover {
        color: #3498db;
      }
      .rightEnterName {
        display: none;
        height: 50px;
        line-height: 50px;
        vertical-align: top;
      }
    }
  }
}

.webContainer {
  padding: 20px 10% 50px 10%;
  background: #ebeef3;
  .webCenterContainer {
    padding: 40px 60px;
    background: #fff;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    p {
      width: 100%;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background: #3598db;
      color: #fff;
      margin-bottom: 40px;
    }
    .websiteLinks {
      box-sizing: border-box;
      margin-bottom: 20px;
      li {
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        a {
          display: inline-block;
          width: 19%;
          height: 40px;
          line-height: 40px;
          text-align: center;
          border: 1px solid #3598db;
          color: #3598db;
          margin-bottom: 20px;
          box-sizing: border-box;
        }
      }
      li:last-child{
        a:nth-child(3){
          border: none;
        }
        a:nth-child(4){
          border: none;
        }
        a:nth-child(5){
          border: none;
        }
      }
    }
    .platformLinks {
      box-sizing: border-box;
      margin-bottom: 20px;
      li {
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        a {
          display: inline-block;
          width: 19%;
          height: 40px;
          line-height: 40px;
          text-align: center;
          border: 1px solid #3598db;
          color: #3598db;
          margin-bottom: 20px;
          box-sizing: border-box;
        }
      }
      li:last-child{
        a:nth-child(3){
          border: none;
        }
        a:nth-child(4){
          border: none;
        }
        a:nth-child(5){
          border: none;
        }
      }
    }
    .blockchainLinks {
      box-sizing: border-box;
      margin-bottom: 20px;
      li {
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        a {
          display: inline-block;
          width: 19%;
          height: 40px;
          line-height: 40px;
          text-align: center;
          border: 1px solid #3598db;
          color: #3598db;
          margin-bottom: 20px;
          box-sizing: border-box;
        }
      }
      li:last-child{
        a:nth-child(2){
          border: none;
        }
        a:nth-child(3){
          border: none;
        }
        a:nth-child(4){
          border: none;
        }
        a:nth-child(5){
          border: none;
        }
      }
    }
    .walletLinks {
      box-sizing: border-box;
      margin-bottom: 20px;
      li {
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        a {
          display: inline-block;
          width: 19%;
          height: 40px;
          line-height: 40px;
          text-align: center;
          border: 1px solid #3598db;
          color: #3598db;
          margin-bottom: 20px;
          box-sizing: border-box;
        }
      }
      li:last-child{
        a:nth-child(4){
          border: none;
        }
        a:nth-child(5){
          border: none;
        }
      }
    }
    .explorerLinks {
      box-sizing: border-box;
      margin-bottom: 20px;
      li {
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        a {
          display: inline-block;
          width: 19%;
          height: 40px;
          line-height: 40px;
          text-align: center;
          border: 1px solid #3598db;
          color: #3598db;
          margin-bottom: 20px;
          box-sizing: border-box;
        }
      }
      li:last-child{
        a:nth-child(3){
          border: none;
        }
        a:nth-child(4){
          border: none;
        }
        a:nth-child(5){
          border: none;
        }
      }
    }
    .currencyLinks {
      box-sizing: border-box;
      margin-bottom: 20px;
      li {
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        a {
          display: inline-block;
          width: 19%;
          height: 40px;
          line-height: 40px;
          text-align: center;
          border: 1px solid #3598db;
          color: #3598db;
          margin-bottom: 20px;
          box-sizing: border-box;
        }
      }
      li:last-child{
        a:nth-child(2){
          border: none;
        }
        a:nth-child(3){
          border: none;
        }
        a:nth-child(4){
          border: none;
        }
        a:nth-child(5){
          border: none;
        }
      }
    }
    .exchangeLinks {
      box-sizing: border-box;
      margin-bottom: 20px;
      li {
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        a {
          display: inline-block;
          width: 19%;
          height: 40px;
          line-height: 40px;
          text-align: center;
          border: 1px solid #3598db;
          color: #3598db;
          margin-bottom: 20px;
          box-sizing: border-box;
        }
      }
      li:last-child{
        a:nth-child(2){
          border: none;
        }
        a:nth-child(3){
          border: none;
        }
        a:nth-child(4){
          border: none;
        }
        a:nth-child(5){
          border: none;
        }
      }
    }
  }
}